body{
    font-family: 'Poppins', sans-serif;
}
.head-color{
    color: orange;
}
#head-slide{
    border-left: 7px solid rgb(170, 3, 3);
    border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.863);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;    
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
max-width: 75%;
height: auto;
}
.orange-word{
    color: orange;
}
h1 p{
    text-align: center;
}
.third-width{
    width: 33%;
    padding: 5%;
}
.third-width{
    max-width: 70%;
    height: auto;
}