body{
    font-family: 'Poppins', sans-serif;
}
.head-color{
    color: orange;
}
#head-slide{
    border-left: 7px solid rgb(170, 3, 3);
    border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.863);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;    
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
max-width: 100%;
height: auto;
}
.orange-word{
    color: orange;
}
h1 p{
    text-align: center;
}
.third-width{
    width: 33%;
    padding: 5%;
}
.third-width img{
    max-width: 70%;
    height: auto;
}
.link-anchor{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.863);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.ash-color{
    color: slategray;
}
.yellow-color{
    color: orange;
}
.global-class{
    padding: 5%;
    width: 50%;
}
.mytable{
    padding: 25px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
}
.tablecontainer{
    text-align: center;
    color: blanchedalmond;
    padding: 50px;
    margin: auto;
}
.fotter{
    color: red;
}
.fontstyle{
   font-family: 'Cookie', cursive; 
}
#midwriting{
    margin: auto;
}
#mission{
    background-color: rgba(218, 237, 245, 0.986);
}
#missiontwo{
    background-color: rgba(205, 92, 92, 0.096);
}
#missionthree{
    background-color: rgba(205, 92, 92, 0.178);
}